@import './styles/About.css';
@import './styles/Projects.css';
@import './styles/Footer.css';
@import './styles/Contact.css';
@import './styles/Navbar.css';

:root {
  --section-bg-light: #f8f9fa; 
  --section-bg-dark: #003049;
  --contact-bg-light: #e9ecef; 
  --contact-bg-dark: #1b1b2f;
  --text-light: #0e0e15;
  --text-dark: #f1f1f1;
}


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
    font-family:'Trebuchet MS', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  padding-top: 6rem;
  padding-bottom: 3rem;
}


