@import './styles/About.css';
@import './styles/Projects.css';
@import './styles/Footer.css';
@import './styles/Contact.css';
@import './styles/Navbar.css';

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
    font-family:'Urbanist', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
